<div class="container">
  <div class="d-flex justify-content-center h-100 myheight">
    <div class="card mycard">
      <div class="card-header">
        <h3 class="must">Reset Password </h3>
        <div class="d-flex justify-content-end social_icon">
        </div>
      </div>
      <div class="card-body">
        <form *ngIf="enableForm" (ngSubmit)="done()" [formGroup]="checkoutParentGroup">
          <div formGroupName="user">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input formControlName="email" type="text" class="form-control" placeholder="email">
              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required || email.errors.noSpace" class="alert alert-danger" role="alert">
                  Email Is Required
                </div>
                <div *ngIf="email.errors.pattern" class="alert alert-danger" role="alert">
                  Invalid Email
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn float-right login_btn">Done</button>
            </div>
          </div>
        </form>

        <form *ngIf="!enableForm" (ngSubmit)="resetNewPassword()" [formGroup]="checkoutParentGroupReset">
          <div formGroupName="newUser">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input formControlName="code" type="text" class="form-control" placeholder="code">
              <div *ngIf="code.invalid && (code.dirty || code.touched)">
                <div *ngIf="code.errors.required || code.errors.noSpace" class="alert alert-danger" role="alert">
                  Email Is Required
                </div>
              </div>
              <input formControlName="password" type="text" class="form-control" placeholder="Password">
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.required || password.errors.noSpace" class="alert alert-danger" role="alert">
                  Password Is Required
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn float-right login_btn">Done</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
