.buyingorder
{
  margin-left: 135px;
}
span
{
  margin: 0 90px;
}
i
{
  background-color: #149ddd;
  padding: 3px;
  color: white;
  cursor: pointer;
}
.totprice
{
  position: absolute;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: #149ddd;
  font-size: 20px;
}
.to2
{
  right: 0;
}
.check-out
{
  border-radius: 30px;
  background-color: white;
  padding: 20px;
  width: 400px;
  font-size: 21px;
  font-weight: bold;
  margin: 40px 369px;
}
.done
{
  width: 366px;
}
.size
{
  background-color: crimson;
  padding: 8px;
  color: aliceblue;
  margin-bottom: 5px;
}
.totalprice
{
  margin-bottom: 20px;
  background-color: blueviolet;
  padding: 8px;
  color: aliceblue;
}
