<ul>

  <li routerLinkActive="active"><a routerLink="/orders"><i class="bx bx-home"></i> <span>Home</span></a></li>

  <li routerLinkActive="active" *ngFor="let temp of categories">
    <a routerLink="category/{{temp.id}}"><i class="{{temp.logo}}"></i> <span>{{temp.name}}</span></a>
  </li>
</ul>


<!--
 <li><a href="#resume"><i class="fas fa-cocktail"></i> <span>Cold Drinks</span></a></li>
 <li><a href="#portfolio"><i class="fas fa-coffee"></i> Hot Drinks</a></li>
 <li><a href="#services"><i class="fas fa-cookie-bite"></i> Sweets</a></li>
 <li><a href="#contact"><i class="fas fa-meat"></i>Other Food</a></li>
 <i class="fas fa-utensils"></i>
 <i class="fas fa-cookie-bite"></i>
 -->
