.mycard {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 676px;
  height: auto;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.oneOrder {
  margin-top: 20px;
  background-color: beige;
  padding: 29px;
  margin-left: 210px;
}
.orbut
{
  width: inherit;
}
i{
  font-size: 55px;
  position: absolute;
  top: 74px;
  background-color: #5d5c5a;
  color: white;
  border-radius: 39px;
  width: 70px;
  height: 67px;
  padding: 9px;
  cursor: pointer;
}
